<html>
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/api/Attachments/scora-images/download/style.css">
  <link rel="stylesheet" href="/api/Attachments/scora-images/download/header.css">
  <link rel="stylesheet" href="  https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
      .field-icon {
     float: right;
        margin-left: 0px;
        margin-top: -26px;
        position: relative;
        z-index: 2;
        margin-right: 17px;
    }
    
    .container{
      padding-top:50px;
      margin: auto;
    }
      </style>
      <script>
      $(document).ready(function(){
      $(".toggle-password1").click(function() {
      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
      });
      $(".toggle-password2").click(function() {
      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
      });
      });
      </script>
</head>
<body>
<!-- header starts -->
<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand" href="#"><img style="margin-left: -10px;margin-top: -7px;" src="/api/Attachments/scora-images/download/Logo_for blue bg_244.png"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
    </div>
  </div>
  <!-- header ends -->

  <!-- body part starts -->
      <div class="container-fluid" style="margin-top: 100px;">
        
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
      
      <div id="institute_bg">
       
      
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
  <img src="/api/Attachments/scora-images/download/scora_slider1.png" class="center-block" style="margin-top:50px;width:90%;">
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-11 padding0">
<div class="bord2">
  <div class="book">
      <form action="<%= redirectUrl %>" method="post">
    <h1 class=" text-center f-size20 m-tb10 p-top15 font_robotobold">PASSWORD RESET FORM </h1>
   
   
        
        
                    <!--Campus details starts-->          
        
                    <div class=" ">
					
                     
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;margin-bottom:10px">
                          <input minlength="6" name="newPassword" id="password-field2" type="password" placeholder="New Password" class="width100 form-control" required> 
              <span toggle="#password-field2" class="fa fa-fw fa-eye field-icon toggle-password1"></span>					   
                                   </div>
                       
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;margin-bottom:10px">
                          <input minlength="6" name="confirmation" id="password-field3" type="password" placeholder="Confirm Password" class="width100 form-control" required> 
              <span toggle="#password-field3" class="fa fa-fw fa-eye field-icon toggle-password2"></span>					   
                                   </div>



                    </div>
                    <!--Campus details ends-->      
                    <div class="  col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;margin-bottom:10px">
                      <div class="">
                        <button type="submit" class="btn signup-btn m-top10"> Reset Password</button>
                       
                      </div>
                    </div>
        
        
                    <div class="clearfix"></div>
                   
         </form>       
  </div>
</div>
</div>
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">           
                      </div>
</div>
<!-- singup ends -->
      </div>
    </div>
</div>
<div class="clearfix"></div>
      </div>
   <!-- body part ends -->
  


  <!-- footer section starts -->
  
     <div class="clearfix"></div>
<div class="row footer" style="margin-left:0px !important;margin-right: 0px !important">
  <div class="container font_robotoregular">

<!-- connect with us starts -->
<div class="col-lg-12  col-md-12  col-sm-12 col-xs-12">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0 margintop-35">
   
        <div>         
            <ul style="margin-left: -25px;"><li> <h4 class="themeColor font_robotobold">
                CONNECT WITH US
            </h4></li></ul>
          <ul style="list-style:none;margin-left: -25px;">
              <li class="float_left">
                <img class="width40 cursor-pointer" src="/api/Attachments/scora-images/download/facebook.png" onmouseover="this.src='/api/Attachments/scora-images/download/facebook_enable.png'"
                  onmouseout="this.src='/api/Attachments/scora-images/download/facebook.png'">
              </li>
              <li class="float_left" style="margin-left: 5px;">
                <img class="width40 cursor-pointer" src="/api/Attachments/scora-images/download/insta_icon.png" onmouseover="this.src=this.src.replace('insta_icon','insta_icon_enable')"
                  onmouseout="this.src=this.src.replace('insta_icon_enable','insta_icon')">
              </li>
              <li class="float_left" style="margin-left: 5px;">
                <img class="width40 cursor-pointer" src="/api/Attachments/scora-images/download/linkedin.png" onmouseover="this.src='/api/Attachments/scora-images/download/linkedin_enable.png'"
                  onmouseout="this.src='/api/Attachments/scora-images/download/linkedin.png'">
              </li>
              <li class="float_left" style="margin-left: 5px;">
                <img class="width40 cursor-pointer" src="/api/Attachments/scora-images/download/twitter.png" onmouseover="this.src='/api/Attachments/scora-images/download/twitter_enable.png'"
                  onmouseout="this.src='/api/Attachments/scora-images/download/twitter.png'">
              </li>
              <li class="float_left" style="margin-left: 5px;">
                <img class="width40 cursor-pointer" src="/api/Attachments/scora-images/download/google_icon.png" onmouseover="this.src='/api/Attachments/scora-images/download/google_icon_enable (1).png'"
                  onmouseout="this.src='/api/Attachments/scora-images/download/google_icon.png'">
              </li>
            </ul>
      </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0">
</div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0 margintop-35">
      <img src="/api/Attachments/scora-images/download/logo_footer.png" class="img-responsive width180">
  </div>
</div>
<!-- connect with us ends -->


<!-- ourservices,sitelinks and newsletter section starts -->
<div class="col-lg-12  col-md-12  col-sm-12 col-xs-12 margintop-35">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
      <h4 class="themeColor font_robotobold">OUR SERVICES</h4>
      <div class="footer_textColor font_robotoregular">
        <p>Recruitment</p>
        <p>Placement</p>
        <p>Digital Profiles</p>
        <p>Data Driven Insights</p>
        <p>Engagements</p>
        <p>Communication</p>
      </div>
    </div>  
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h4 class="themeColor font_robotobold">SITE LINKS</h4> 
        <div class="footer_textColor font_robotoregular"> 
        <p>About Us</p>    
        <p>Privacy</p>
        <p>Terms & Conditions</p>
        </div>
    </div>  
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h4 class="themeColor font_robotobold">NEWS LETTER</h4>     
        <input type="text" class="form-control form-control1"> 
        <button type="submit" class="subscribe">Subscribe</button>
    </div>      
</div>
<!-- ourservices,sitelinks and newsletter section ends -->


<!-- copy right and line starts -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop-10">
    <img src="/api/Attachments/scora-images/download/footer_seperator lineN.png" class="width100">
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copyRight">
    <p class="text-center color_sitelinks">Copyright &copy; 2018. All Rights Reserved</p>
  </div>
<!-- copy right and line ends -->

    

  </div>
</div>

  
   <!-- footer section ends -->
   </body>
  </html>