<html>
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/api/Attachments/scora-images/download/style.css">
  <link rel="stylesheet" href="/api/Attachments/scora-images/download/header.css">
  <style>
  .terms-page, .privacy-page {
    font-family: 'Times New Roman', Times, serif;
  }
.terms-page h4,.terms-page h3, .privacy-page h4,.privacy-page h3{
    font-weight: bold;
}
.terms-page P, .privacy-page P{
    font-size: 16px;
    text-align: justify;
} 
.container_padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.font-italic {
    font-style: italic;
}

  </style>
</head>
<body>
<!-- header starts -->
<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand" href="#"><img style="margin-left: -10px;margin-top: -7px;" src="/api/Attachments/scora-images/download/Logo_for blue bg_244.png"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav navbar-right color-white m-right20" style="margin-top:26px;">
          
        </ul>
      </div>
    </div>
  </div>
  <!-- header ends -->

  <!-- body part starts -->
      <div class="container-fluid" style="margin-top: 100px;">
        
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
       
      <div id="institute_bg" class="height350">
       <!-- body content starts -->
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
           <img src="/api/Attachments/scora-images/download/scora_slider1.png" class="center-block" style="margin-top:50px;width:90%;">
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0">
          <div style="margin-top:10%">
	    <h3>Registration Verified Successfully</h3>
	  <!-- <p class="login">You are now ready to</p>&nbsp;&nbsp;<a class="cursor-pointer">Login</a> -->    
	  <p style="width:85%">  Please accept the User Privacy Policy listed below to be able to Login to ScoraXchange</p>
	   </div>
	   <div class="registration" >
	   <div class="registration_text">

	   <div class="row terms-page"  style="background-color:white;padding:20px;">
      <div class="terms-heading text-center" align="center">
        <h3 style="margin-bottom:20px;">TERMS OF USE</h3>
      </div>
      <div>
          <h4>AGREEMENT TO TERMS</h4>
          <p>
              These Terms of Use constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”) and Scora Technologies Private Limited (“we,” “us” or “our”), concerning your access to and use of the Application, ScoraXchange. By clicking on the "I Accept" option while installing, downloading or accessing and using the Application, you agree that you have read, understood, and agree to be bound by all of these Terms of Use. IF YOU DO NOT AGREE WITH ALL OF THESE TERMS OF USE, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE APPLICATION AND YOU MUST DISCONTINUE USE IMMEDIATELY.
          </p>
          <p>
              Supplemental terms and conditions or documents that may be posted on the Application from time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to these Terms of Use at any time and for any reason. We will alert you about any changes by updating the “Last updated” date of these Terms of Use, and you waive any right to receive specific notice of each such change. It is your responsibility to periodically review these Terms of Use to stay informed of updates. You will be subject to and will be deemed to have been made aware of and to have accepted, the changes in any revised Terms of Use by your continued use of the Application after the date such revised Terms of Use are posted.
          </p><br />
          <h4>INTELLECTUAL PROPERTY RIGHTS</h4>
          <p>
              Unless otherwise indicated, the Application is our proprietary property and all source code, functionality, UX design, audio, video, text, photographs, and graphics on our website, www.ScoraXchange.com or ScoraXchange Application (collectively, the “Content”) and the trademarks, service marks, and logos contained therein (the “Marks”) are owned or controlled by us and are protected by copyright and trademark laws of India. The Content and the Marks are provided on the Application “AS IS” for your information and personal use only. Except as expressly provided in these Terms of Use, no part of the Application and no Content or Marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission.
          </p>
          <p>
              Provided that you are eligible to use the Application, you are granted a limited, non-exclusive, non-assignable and revocable right to access and use the Application. We reserve all rights not expressly granted to you in and to the Application, the Content and the Marks.
          </p><br />
          <h4>USER REPRESENTATIONS</h4>
          <p>By using the Application, you represent and warrant that:</p>
          <p>(1) you will not access the Application through automated or non-human means, whether through a bot, script or otherwise;</p>
          <p>(2) you will not use the Application for any illegal or unauthorized purpose; and</p>
          <p>(3) your use of the Application will not violate any applicable law or regulation.</p>
          <p>
              If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of the Application (or any portion thereof).
          </p>
          <p>You agree to the following restrictions:</p>
          <p>(a) to use the Application solely for your personal use;</p>
          <p>(b) to not install or use a copy of the Application on a device that you do not own or control;</p>
          <p>(c) to not duplicate, copy or distribute the Application, except as necessary to use it on your Device;</p>
          <p>
              (d) to not license, sell, rent, lease, lend, transfer, assign, distribute, host, outsource, disclose or otherwise commercially exploit the Application or make the Application available to any third party;
          </p>
          <p>
              (e) to not use the Application for any fraudulent, unlawful or illegal activity or in any way that could harm the Application or impair anyone else’s use of it or to try to gain unauthorized access to any service, data, account by any means; 
          </p>
          <p>
              (f) to not modify, translate, or create derivative works based on the Application or reverse engineer any part of the Application.
          </p>
          <p>
              (g) to not work around any technical limitations in the Application;
          </p> <br />
          <h4>PROHIBITED ACTIVITIES</h4>
          <p>
              You cannot access or use the Application for any purpose other than that for which the Application is made available for your use. The Application may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.  
          </p> <br />
          <h4>SUBMISSIONS</h4>
          <p>
              You acknowledge and agree that any questions, comments, suggestions, ideas, feedback, or other information regarding the Application ("Submissions") provided by you to us are non-confidential and shall become our sole property. We shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of these Submissions for any lawful purpose, commercial or otherwise, without acknowledgment or compensation to you. You hereby waive all moral rights to any such Submissions, and you hereby warrant that any such Submissions are original with you or that you have the right to submit such Submissions. You agree there shall be no recourse against us for any alleged or actual infringement or misappropriation of any proprietary right in your Submissions.   
          </p>
          <br />
          <h4>APPLICATION MANAGEMENT</h4>
          <p>
              We reserve the right, but not the obligation, to: (1) monitor the Application for violations of these Terms of Use; (2) take appropriate legal action against anyone who, in our sole discretion, violates the applicable laws or these Terms of Use, including without limitation, reporting such user to law enforcement authorities; (3) in our sole discretion and without limitation, refuse, restrict access to, limit the availability of, or disable (to the extent technologically feasible) any of your Contributions or any portion thereof; (4) in our sole discretion and without limitation, notice, or liability, to remove from the Application or otherwise disable all files and content that are excessive in size or are in any way burdensome to our systems; and (5) otherwise manage the Application in a manner designed to protect our rights and property and to facilitate the proper functioning of the Application.   
          </p>
          <br />
          <h4>TERM AND TERMINATION</h4>
          <p>
              These Terms of Use shall remain in full force and effect while you use the Application. WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS OF USE, WE RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT NOTICE OR LIABILITY, DENY ACCESS TO AND USE OF THE APPLICATION, TO ANY PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT LIMITATION FOR BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THESE TERMS OF USE OR OF ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR PARTICIPATION IN THE APPLICATION OR DELETE ANY CONTENT OR INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT WARNING, IN OUR SOLE DISCRETION. 
          </p>
          <p>
              If we terminate or suspend your account for any reason, you are restricted from registering and creating a new account under your name, a fake or borrowed name, or the name of any third party, even if you may be acting on behalf of the third party. In addition to terminating or suspending your account, we reserve the right to take appropriate legal action, including without limitation pursuing civil, criminal, and injunctive redress.
          </p>
          <br />
          <h4>MODIFICATIONS AND INTERRUPTIONS</h4>
          <p>
              We reserve the right to change, modify, or remove the contents of the Application at any time or for any reason at our sole discretion without notice. However, we have no obligation to update any information on our Application. We also reserve the right to modify or discontinue all or part of the Application without notice at any time. We will not be liable to you or any third party for any modification,  suspension, or discontinuance of the Application.
          </p>
          <p>
              We may experience hardware, software, or other problems or need to perform maintenance related to the Application, resulting in interruptions, delays, or errors. We reserve the right to change, revise, update, suspend, discontinue, or otherwise modify the Application at any time or for any reason without notice to you. You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the Application during any downtime or discontinuance of the Application. Nothing in these Terms of Use will be construed to obligate us to maintain and support the Application or to supply any corrections, updates, or releases in connection therewith.
          </p>
          <br />
          <h4>GOVERNING LAW</h4>
          <p>
              The validity, construction and performance of this Terms of Use shall be construed and the legal relations between the Parties hereto shall be determined and governed in accordance with Indian law.
          </p>
          <br />
          <h4>ARBITRATION</h4>
          <p>
              In the event of any dispute or differences arising out of or relating to or with reference to or in connection with this Agreement, the same shall be referred to a sole Arbitrator to be nominated mutually by both parties whose decision shall be final and binding on both the parties. The Arbitration proceedings shall be as per the Arbitration & Conciliation Act, 1996 and the venue shall be Hyderabad and the proceedings shall be conducted in English language.
          </p>
          <br />
          <h4>DISCLAIMER</h4>
          <p>
              THE APPLICATION IS PROVIDED ON AN AS-IS AND AS-AVAILABLE BASIS. TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE APPLICATION AND YOUR USE THEREOF, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE APPLICATION’S CONTENT OR THE CONTENT OF ANY WEBSITES LINKED TO THE APPLICATION AND WE WILL ASSUME NO LIABILITY OR RESPONSIBILITY FOR ANY (1) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (2) PERSONAL INJURY OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE APPLICATION, (3) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SITE, (5) ANY VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE Application BY ANY THIRD PARTY, AND/OR (6) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE APPLICATION. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE APPLICATION, AND WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY COMMUNICATION/ TRANSACTION BETWEEN YOU AND OTHER USERS OF THE APPLICATION.
          </p>
          <br />
          <h4>LIMITATIONS OF LIABILITY</h4>
          <p>IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR USE OF THE APPLICATION, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
          </p>
          <br />
          <h4>INDEMNIFICATION</h4>
          <p>You agree to defend, indemnify, and hold us harmless, including our affiliates, and all of our respective officers, agents, partners, and employees, from and against any loss, damage, liability, claim, or demand, including reasonable attorneys’ fees and expenses, made by any third party due to or arising out of: (1)your use of the Application; (2) your breach of these Terms of Use; (3) any breach of your representations and warranties set forth in these Terms of Use; (4) your violation of the rights of a third party, including but not limited to intellectual property rights; or (5) any overt harmful act toward any other user of the Application with whom you connected via the Application. Notwithstanding the foregoing, we reserve the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us, and you agree to cooperate, at your expense, with our defense of such claims. We will use reasonable efforts to notify you of any such claim, action, or proceeding which is subject to this indemnification upon becoming aware of it.
          </p>
          <br />
          <h4>USER DATA</h4>
          <p>
              We will maintain the data that you transmit to the Application for the purpose of providing the Services as well as data relating to your use of the Application. Although we perform regular routine backups of data, you are solely responsible for all data that you transmit or that relates to any activity you have undertaken using the Application. You agree that we shall have no liability to you for any loss or corruption of any such data, and you hereby waive any right of action against us arising from any such loss or corruption of such data.
          </p>
          <br />
          <h4>ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</h4>
          <p>
              Accessing the Application, sending us emails, and completing online forms constitute electronic communications. You consent to receive electronic communications, and you agree that all agreements, notices, disclosures, and other communications we provide to you electronically, via email and the Application, satisfy any legal requirement that such communication be in writing. YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS AND OTHER RECORDS, AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND RECORDS OF TRANSACTIONS INITIATED OR COMPLETED VIA THE APPLICATION. You hereby waive any rights or requirements under any statutes, regulations, rules, ordinances, or other laws in any jurisdiction which require an original signature or delivery or retention of non-electronic records, by any means other than electronic means.
          </p>
          <br />
          <h4>MISCELLANEOUS</h4>
          <p>
              These Terms of Use and any policies posted by us on the Application or in respect to the Application constitute the entire agreement and understanding between you and us. Our failure to exercise or enforce any right or provision of these Terms of Use shall not operate as a waiver of such right or provision. These Terms of Use operate to the fullest extent permissible by law. We may assign any or all of our rights and obligations to others at any time. We shall not be responsible or liable for any loss, damage, delay, or failure to act caused by any cause beyond our reasonable control. If any provision or part of a provision of these Terms of Use is determined to be unlawful, void, or unenforceable, that provision or part of the provision is deemed severable from these Terms of Use and does not affect the validity and enforceability of any remaining provisions. There is no joint venture, partnership, employment or agency relationship created between you and us as a result of these Terms of Use or use of the Application. You hereby waive any and all defenses you may have based on the electronic form of these Terms of Use and the lack of signing by the parties hereto to execute these Terms of Use.
          </p>
          <br />
      </div>



    </div>

    <div class="row "  style="background-color:white;padding:20px;">
        <div class="terms-heading text-center" align="center">
          <h3 style="margin-bottom:20px;">PRIVACY POLICY</h3>
        </div>
        <div>
            <p>
                We at Scora Technologies Private Limited value the trust you place on us while sharing your personal data on our Application. By using our Services, you consent to our use of your data under this Privacy Policy. 
            </p>
            <p>
                By accessing/ enrolling on this Application, you consent to the terms of our online Privacy Policy and to Scora Technologies Private Limited processing of Personal Information for the purposes of providing Placement and Recruitment services as well as any other purposes which may be auxiliary to the above services. 
            </p>
           <p>
              In the normal course of accessing/using the Application, you must provide an email address, which will serve as a username for login and authentication purposes, and a contact point for Application related services.
           </p>
           <p>
              We acknowledge that you alone have the right to access/ modify/ delete your personal information. We may, where it concludes that it is legally obligated to do so, disclose personal data to law enforcement or other government authorities. We will notify you of any such request unless prohibited by law.
           </p>
           <p>
              We will not share your personal information in ways unrelated to those described above without first notifying you and offering you a choice as to whether or not we may use your personal Information in a different manner. However, your data will be used by us for development and improvement of service offerings apart from our billing, administrative and servicing requirements. Reasonable and appropriate measures have been designed and implemented to help you secure your Content against accidental or unlawful loss, access or disclosure.
           </p>
           <p>
              Scora Technologies Private Limited reserves the right to update, change or modify this policy at any time. The policy shall come into effect from the date of such update, change or modification and when material changes are made to it, notice shall be provided through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. If you object to any changes, you may close your account/ end your subscription. Your continued use of our Services after we publish or send a notice about our changes to this Privacy Policy means that you are consenting to the updated Privacy Policy.
           </p>
           <br />
           <p class="font-italic">
              Note: Scora Technologies Private Limited retains right to: a) Amend the terms in this agreement at any time. b) Offer its services to any client/prospective client without restriction at its discretion.
           </p>
  
            
        </div>
  
  
  
      </div>

	   
	   </div>
	   </div>
</div>

<div class="text-center">
    <a href="/"> <button class="btn submit-btn" type="submit">I Accept</button></a>
     </div>
</div>
	    <!-- body content starts -->    
      </div>
    </div>
</div>
<div class="clearfix"></div>
 </div>
   <!-- body part ends -->
  



      <!-- footer section starts -->
  
       <div class="clearfix"></div>
<div class="row footer" style="margin-left:0px !important;margin-right: 0px !important">
  <div class="container font_robotoregular">

<!-- connect with us starts -->
<div class="col-lg-12  col-md-12  col-sm-12 col-xs-12">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0 margintop-35">
   
        <div>         
            <ul style="margin-left: -25px;"><li> <h4 class="themeColor font_robotobold">
                CONNECT WITH US
            </h4></li></ul>
          <ul style="list-style:none;margin-left: -25px;">
              <li class="float_left">
                <img class="width40 cursor-pointer" src="/api/Attachments/scora-images/download/facebook.png" onmouseover="this.src='/api/Attachments/scora-images/download/facebook_enable.png'"
                  onmouseout="this.src='/api/Attachments/scora-images/download/facebook.png'">
              </li>
              <li class="float_left" style="margin-left: 5px;">
                <img class="width40 cursor-pointer" src="/api/Attachments/scora-images/download/insta_icon.png" onmouseover="this.src=this.src.replace('insta_icon','insta_icon_enable')"
                  onmouseout="this.src=this.src.replace('insta_icon_enable','insta_icon')">
              </li>
              <li class="float_left" style="margin-left: 5px;">
                <img class="width40 cursor-pointer" src="/api/Attachments/scora-images/download/linkedin.png" onmouseover="this.src='/api/Attachments/scora-images/download/linkedin_enable.png'"
                  onmouseout="this.src='/api/Attachments/scora-images/download/linkedin.png'">
              </li>
              <li class="float_left" style="margin-left: 5px;">
                <img class="width40 cursor-pointer" src="/api/Attachments/scora-images/download/twitter.png" onmouseover="this.src='/api/Attachments/scora-images/download/twitter_enable.png'"
                  onmouseout="this.src='/api/Attachments/scora-images/download/twitter.png'">
              </li>
              <li class="float_left" style="margin-left: 5px;">
                <img class="width40 cursor-pointer" src="/api/Attachments/scora-images/download/google_icon.png" onmouseover="this.src='/api/Attachments/scora-images/download/google_icon_enable (1).png'"
                  onmouseout="this.src='/api/Attachments/scora-images/download/google_icon.png'">
              </li>
            </ul>
      </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0">
</div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0 margintop-35">
      <img src="/api/Attachments/scora-images/download/logo_footer.png" class="img-responsive width180">
  </div>
</div>
<!-- connect with us ends -->


<!-- ourservices,sitelinks and newsletter section starts -->
<div class="col-lg-12  col-md-12  col-sm-12 col-xs-12 margintop-35">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
      <h4 class="themeColor font_robotobold">OUR SERVICES</h4>
      <div class="footer_textColor font_robotoregular">
        <p>Recruitment</p>
        <p>Placement</p>
        <p>Digital Profiles</p>
        <p>Data Driven Insights</p>
        <p>Engagements</p>
        <p>Communication</p>
      </div>
    </div>  
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h4 class="themeColor font_robotobold">SITE LINKS</h4> 
        <div class="footer_textColor font_robotoregular"> 
        <p>About Us</p>    
        <p>Privacy</p>
        <p>Terms & Conditions</p>
        </div>
    </div>  
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h4 class="themeColor font_robotobold">NEWS LETTER</h4>     
        <input type="text" class="form-control form-control1"> 
        <button type="submit" class="subscribe">Subscribe</button>
    </div>      
</div>
<!-- ourservices,sitelinks and newsletter section ends -->


<!-- copy right and line starts -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop-10">
    <img src="/api/Attachments/scora-images/download/footer_seperator lineN.png" class="width100">
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copyRight">
    <p class="text-center color_sitelinks">Copyright &copy; 2018. All Rights Reserved</p>
  </div>
<!-- copy right and line ends -->

    

  </div>
</div>

  
   <!-- footer section ends -->
   </body>
  </html>